.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 150px;
  color: white; }

.App-title {
  font-size: 30px; }
  .App-title p {
    margin: 0; }
  .App-title .magic {
    font-size: 36px;
    margin: 5px; }

.App-intro {
  font-size: large; }

.Search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px; }
  .Search-form p:first-of-type {
    width: 200px;
    border-radius: 6px;
    padding: 10px;
    background-color: lightblue;
    margin: 0; }
  .Search-form div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    margin: 5px; }
    .Search-form div .seperator {
      font-size: 26px;
      padding-left: 15px;
      margin: 0; }
    .Search-form div input {
      font-size: 18px;
      padding: 5px;
      max-width: 500px;
      margin-left: 15px; }
  .Search-form button {
    width: 150px;
    padding: 15px;
    font-size: 24px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    align-self: center;
    cursor: pointer;
    margin-top: 20px; }
    .Search-form button:hover {
      background-color: #222; }
    .Search-form button:active {
      background-color: black; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
